
.vs/TCCarShare/config/applicationhost.config
.vs/TCCarShare/v16/.suo
.vs/TCCarShare/v16/Server/sqlite3/storage.ide-shm
.vs/TCCarShare/v16/Server/sqlite3/storage.ide-wal
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.dll
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.pdb
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.runtimeconfig.dev.json
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.assets.cache
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.csproj.FileListAbsolute.txt
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.csprojAssemblyReference.cache
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.dll
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.pdb
TCCarShare/obj/project.assets.json
TCCarShare/obj/TCCarShare.csproj.nuget.cache
TCCarShare/obj/TCCarShare.csproj.nuget.g.props
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.assets.cache
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.deps.json
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.dll
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.pdb
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.runtimeconfig.dev.json
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.assets.cache
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.csproj.FileListAbsolute.txt
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.csprojAssemblyReference.cache
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.dll
TCCarShare/obj/Debug/netcoreapp2.1/TCCarShare.pdb
TCCarShare/obj/project.assets.json
TCCarShare/obj/TCCarShare.csproj.nuget.cache
TCCarShare/obj/TCCarShare.csproj.nuget.g.props
.vs/TCCarShare/v15/Server/sqlite3/storage.ide-wal
.vs/TCCarShare/v15/Server/sqlite3/storage.ide-shm
.vs/TCCarShare/v15/Server/sqlite3/storage.ide
.vs/TCCarShare/v15/Server/sqlite3/db.lock
