
.vs/TCCarShare/config/applicationhost.config
.vs/TCCarShare/v16/.suo
.vs/TCCarShare/v16/Server/sqlite3/storage.ide-shm
.vs/TCCarShare/v16/Server/sqlite3/storage.ide-wal
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.dll
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.pdb
TCCarShare/bin/Debug/netcoreapp2.1/TCCarShare.runtimeconfig.dev.json
